<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>mark</key>
		<string>KIA</string>
		<key>model</key>
		<string>K5</string>
		<key>imageName</key>
		<string>KIA_K5.jpg</string>
		<key>tintColor</key>
		<dict>
			<key>red</key>
			<integer>11</integer>
			<key>green</key>
			<integer>46</integer>
			<key>blue</key>
			<integer>113</integer>
		</dict>
		<key>lastStarted</key>
		<date>2021-03-04T12:41:25Z</date>
		<key>rating</key>
		<integer>8</integer>
		<key>numberTrips</key>
		<integer>10</integer>
		<key>myChoice</key>
		<true/>
	</dict>
	<dict>
		<key>mark</key>
		<string>Mazda</string>
		<key>model</key>
		<string>Mazda6</string>
		<key>imageName</key>
		<string>Mazda6.jpg</string>
		<key>tintColor</key>
		<dict>
			<key>red</key>
			<integer>165</integer>
			<key>green</key>
			<integer>52</integer>
			<key>blue</key>
			<integer>64</integer>
		</dict>
		<key>lastStarted</key>
		<date>2021-02-14T18:41:25Z</date>
		<key>rating</key>
		<integer>7</integer>
		<key>numberTrips</key>
		<integer>18</integer>
		<key>myChoice</key>
		<false/>
	</dict>
	<dict>
		<key>mark</key>
		<string>Toyota</string>
		<key>model</key>
		<string>Camry</string>
		<key>imageName</key>
		<string>Toyota_Camry.jpg</string>
		<key>tintColor</key>
		<dict>
			<key>red</key>
			<integer>220</integer>
			<key>green</key>
			<integer>232</integer>
			<key>blue</key>
			<integer>231</integer>
		</dict>
		<key>lastStarted</key>
		<date>2021-01-05T14:21:25Z</date>
		<key>rating</key>
		<integer>10</integer>
		<key>numberTrips</key>
		<integer>23</integer>
		<key>myChoice</key>
		<false/>
	</dict>
	<dict>
		<key>mark</key>
		<string>Hundai</string>
		<key>model</key>
		<string>Sonata</string>
		<key>imageName</key>
		<string>Hyundai_Sonata.jpg</string>
		<key>tintColor</key>
		<dict>
			<key>red</key>
			<integer>144</integer>
			<key>green</key>
			<integer>138</integer>
			<key>blue</key>
			<integer>138</integer>
		</dict>
		<key>lastStarted</key>
		<date>2020-12-07T19:41:25Z</date>
		<key>rating</key>
		<integer>5</integer>
		<key>numberTrips</key>
		<integer>4</integer>
		<key>myChoice</key>
		<false/>
	</dict>
	<dict>
		<key>mark</key>
		<string>BMW</string>
		<key>model</key>
		<string>X4</string>
		<key>imageName</key>
		<string>BMW_X4.jpg</string>
		<key>tintColor</key>
		<dict>
			<key>red</key>
			<integer>17</integer>
			<key>green</key>
			<integer>32</integer>
			<key>blue</key>
			<integer>44</integer>
		</dict>
		<key>lastStarted</key>
		<date>2021-03-03T20:41:25Z</date>
		<key>rating</key>
		<integer>9</integer>
		<key>numberTrips</key>
		<integer>34</integer>
		<key>myChoice</key>
		<false/>
	</dict>
</array>
</plist>
